body {
    font-family: "source-han-serif-sc", serif;
    color:aliceblue;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(25, 25, 25);
    /* display:flex;
    justify-content:center;*/
    width: 50%; /* Set a fixed width for the body element */ 
    background-image: url(Marx.png);
    background-size: 100%;
    background-position-x: 200px;
    background-position-y: 0;
    background-repeat: no-repeat;
}

h1{
    font-weight: 700;
    font-size: 3.8vw;
    color: deeppink;

}

h2{
    font-weight: 500;
    font-size: 2vw;
}

h3{
    font-weight: 700;
    font-size: 1.5vw;
    color: paleturquoise;
}

p{
    font-weight: 500;
    font-size: 1.5vw;
}

a:link {
    color: deeppink;
    background-color: transparent;
    text-decoration:underline;
  }
  
  a:visited {
    color: deeppink;
    background-color: transparent;
    text-decoration: none;
  }

.content {
    width: 80%;
    margin: 20px auto;
}

.QR{  
    width: 100%;
    height: auto; /* maintain the aspect ratio */
    display: block;
    padding-top: 10%;
}

@media (max-width: 720px) {
    body {
        width: 100%;
        box-shadow: none; /* Optional: remove shadow on smaller devices */
        background-size: cover;
        background-position: 10%;
    }

    h1{
        font-size: 7.6vw;
    }

    h2{
        font-size: 4.3vw;
    }

    h3{
        font-weight: 700;
        font-size: 3.2vw;
    }

    p{
        font-weight: 500;
        font-size: 3.2vw;
    }
}
