body {
    font-family: "source-han-serif-sc", serif;
    color:aliceblue;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(25, 25, 25);
    /* display:flex;
    justify-content:center;*/
    width: 60%; /* Set a fixed width for the body element */ 
    background-image: url(Marx.png);
    background-size: 100%;
    background-position-x: 250px;
    background-position-y: 0;
    background-repeat: no-repeat;
}

h1{
    font-weight: 700;
    font-size: 3.5vw;
    color: red;

}

h2{
    font-weight: 500;
    font-size: 2vw;
}

h3{
    font-weight: 700;
    font-size: 1.5vw;
    color: rgb(255, 89, 0);
}

p{
    font-weight: 500;
    font-size: 1.5vw;
}

.content {
    width: 80%;
    margin: 20px auto;
}

.QR{  
    width: 100%;
    height: auto; /* maintain the aspect ratio */
    display: block;
    padding-top: 10%;
}

@media (max-width: 1000px) {
    body {
        width: 100%;
        box-shadow: none; /* Optional: remove shadow on smaller devices */
        background-size: cover;
        background-position: 10%;
    }

    h1{
        font-size: 7vw;
    }

    h2{
        font-size: 4vw;
    }

    p{
        font-weight: 400;
        font-size: 3.5vw;
    }
    h3{
        font-weight: 700;
        font-size: 3.5vw;
    }
}
